body {
  background-color: #7d83d1;
}
h1 {
  color: white;
  text-align: center;
}
p {
  color: aliceblue;
  text-align: center;
}
a {
  color: bisque;
  text-align: center;
}
.email-link {
  text-align: center;
}
img {
  display: block;

  width: 300px;
  height: 300px;
}
